*{
  font-family: "Freeman", sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: #FFF5DA;
  color: #BD632F;
}

body{
  margin: 0;
}

p{
  margin: 0;
}

header{
  text-align: center;
}

#catchphrase{
  font-size: 30px;

}

#nav{
  display: flex;
  justify-content: center;
  align-items: center;
}

#gallery{
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (prefers-reduced-motion: no-preference) {
  * {
    scroll-behavior: smooth;
  }
}

nav {
  width: 500%;
  max-width: 500px;
  height: 50px;
  font-size: 20px;
}

nav > ul {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  padding-inline-start: 0;
  margin-block: 0;
  height: 100%;
}

nav > ul > li {
  margin: 0 0.2rem;
  padding: 0.2rem;
  display: block;
  
}

nav > ul > li:hover {
  background-color: #F09303;
  cursor: pointer;
}

nav > ul > li > a {
  color: #F09303;
  text-decoration: none;
text-decoration-thickness: 3px;
}

.info{
  padding: 5;
}

span{
  color: #A4243B;
}

.gallery {
  --s: 200px; /* control the size */
  --g: 8px;   /* control the gap */
  
  display: grid;
  grid: auto-flow var(--s)/repeat(2,var(--s));
  gap: var(--g);
}
.gallery > img {
  width: 100%; 
  aspect-ratio: 1;
  cursor: pointer;
  z-index: 0;
  transition: .25s,z-index 0s .25s;
}
.gallery > img:hover {
  width: calc(200% + var(--g));
  z-index: 1;
  --_c: 50%;
  transition: .4s,z-index 0s;
}
.gallery > img:nth-child(1){
  clip-path: circle(var(--_c,55% at 70% 70%));
  place-self: start;
}
.gallery > img:nth-child(2){
  clip-path: circle(var(--_c,55% at 30% 70%));
  place-self: start end;
}
.gallery > img:nth-child(3){
  clip-path: circle(var(--_c,55% at 70% 30%));
  place-self: end start;
}
.gallery > img:nth-child(4){
  clip-path: circle(var(--_c,55% at 30% 30%));
  place-self: end;
}

footer {
  font-size: 20px;
  display: flex;
  justify-content: center;
  background-color: #BD632F;
}

footer address, footer a{
  background-color: #BD632F;
  color: #fff;
  text-align: center;
  padding: 0.3em;
}

.paragraph{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 10 100 10 100;
  font-size: 20px;
}

iframe{
  margin-top: 100;
}

h1{
  font-size: 50px;
  margin-top: 100;
  margin-bottom: 80;
  display: flex;
  justify-content: center;
  align-items: center;
}

h2{
  font-size: 35px;
  margin-top: 100;
  margin-bottom: 80;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container{
  margin: 50 auto;
  max-width: 700px;
  width: 100%;
  background-color: #FFECB6;
  padding: 25px 30px;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.15);
}
.container .title{
  font-size: 25px;
  font-weight: 500;
  position: relative;
  background-color: #FFECB6;
}
.container .title::before{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 30px;
  border-radius: 5px;
  background: linear-gradient(135deg, #F09303, #A4243B);
}
.content form .user-details{
  background-color: #FFECB6;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0;
}
form .user-details .input-box{
  background-color: #FFECB6;
  margin-bottom: 15px;
  width: calc(100% / 2 - 20px);
}
form .input-box span.details{
  background-color: #FFECB6;
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}
.user-details .input-box input{
  height: 45px;
  width: 100%;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #BD632F;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}
.user-details .input-box input:focus,
.user-details .input-box input:valid{
  border-color: #F09303;
}
 form .gender-details .gender-title{
  font-size: 20px;
  font-weight: 500;
 }
 form .category{
   display: flex;
   width: 80%;
   margin: 14px 0 ;
   justify-content: space-between;
 }
 form .category label{
   display: flex;
   align-items: center;
   cursor: pointer;
 }
 form .category label .dot{
  
  height: 18px;
  width: 18px;
  border-radius: 50%;
  margin-right: 10px;
  background: #d9d9d9;
  border: 5px solid transparent;
  transition: all 0.3s ease;
}
 #dot-1:checked ~ .category label .one,
 #dot-2:checked ~ .category label .two,
 #dot-3:checked ~ .category label .three{
   background: #F09303;
   border-color: #d9d9d9;
 }
 form input[type="radio"]{
   display: none;
 }
 form .button{
   height: 45px;
   margin: 35px 0
 }
 form .button input{
   height: 100%;
   width: 100%;
   border-radius: 5px;
   border: none;
   color: #fff;
   font-size: 18px;
   font-weight: 500;
   letter-spacing: 1px;
   cursor: pointer;
   transition: all 0.3s ease;
   background: linear-gradient(135deg, #F09303, #A4243B);
 }
 form .button input:hover{
  /* transform: scale(0.99); */
  background: linear-gradient(-135deg, #F09303, #A4243B);
  }
 @media(max-width: 584px){
 .container{
  max-width: 100%;
}
form .user-details .input-box{
  
    margin-bottom: 15px;
    width: 100%;
  }
  form .category{
    width: 100%;
  }
  .content form .user-details{
    max-height: 300px;
    overflow-y: scroll;
  }
  .user-details::-webkit-scrollbar{
    width: 5px;
  }
  }
  @media(max-width: 459px){
  .container .content .category{
    flex-direction: column;
  }
}


.faq > li > a{
  font-size: 20px;
text-decoration: none;
}

#question{
  font-size: 25;
  color: #A4243B;
}
